<header class="hd">
  <button class="btn brdr-0 float-left" (click)="showGameModel = true"><i class="fa fa-plus"></i></button>
  <div class="form-group float-left" style="padding: 5px 15px;">
    <b>Search Mode: </b>
    <span [ngClass]="['mode',searchFuzzy?'active':'']" (click)="searchFuzzy=true">Fuzzy</span>
    <span>
      |
    </span>
    <span [ngClass]="['mode',!searchFuzzy?'active':'']" (click)="searchFuzzy=false">Simple</span>
  </div>
  <div class="input-group wd-200 float-right">
    <select class="form-select" [(ngModel)]="searchBy">
      <option value="all">All</option>
      <option [value]="i" *ngFor="let i of searchOpt">{{i}}</option>
    </select>
    <div class="has-icon-right">
      <input type="text" class="form-input" placeholder="Search" [(ngModel)]="searchField.txt" (keyup)="findStation()">
      <i class="form-icon fa fa-search"></i>
    </div>
    <button class="btn btn-primary" (click)="logOut()">Log Out</button>
  </div>
</header>

<div class="columns">
  <div class="column col-4" *ngFor="let itm of stationCopy;let ind = index;">
    <div class="card">
      <div class="card-image">
        <img class="img-responsive" [src]="'../assets/img/'+(itm.img ? itm.img : 'undefined.jpeg')" alt="macOS Sierra">
      </div>
      <div class="card-header">
        <button class="btn float-right" [innerHTML]="'Buy for $'+itm.price" (click)="buyGame(itm)"></button>
        <button class="btn brdr-0 float-right" (click)="deleteGame(itm._id,ind)"><i class="fa fa-trash"></i></button>
        <button class="btn brdr-0 float-right" (click)="editGame(itm,ind)"><i class="fa fa-pencil"></i></button>
        <div class="card-title h5" [innerHTML]="itm.name"></div>
        <div class="card-subtitle text-gray" [innerHTML]="'Version: '+itm.version"></div>
        <div class="card-subtitle text-gray" [innerHTML]="'Powered By: '+itm.manufacturer"></div>
      </div>
      <div class="card-body">
        <div *ngFor="let field of gameAttribute.field;let ind1 = index;">
          <div [innerHTML]="'<b>'+gameAttribute.label[ind1]+': </b>'+(itm[field] || 'NA')"></div>
        </div>

        <i [ngClass]="['fa',itm.rate >= ind1? 'fa-star' :'fa-star-o']" style="cursor: pointer"
           *ngFor="let i of noOfStar;let ind1 = index;"
           (click)="star(itm._id,i,ind)"></i>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="['modal' ,showGameModel?'active':'']">
  <div class="modal-overlay"></div>
  <div class="modal-container" style="width: 444px;">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="showGameModel=false"></button>
      <div class="modal-title h5">Add Game</div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="form-group" *ngFor="let itm of searchOpt;let ind = index;">
          <div class="col-3">
            <label class="form-label" [for]="'input-example-'+ind">{{gameFild[ind]}}</label>
          </div>
          <div class="col-9">
            <input [placeholder]="gameFild[ind]" class="form-input" [name]="'input-example-'+ind"
                   type="text" [id]="'input-example-'+ind" [(ngModel)]="gameFildVl[itm]">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <button class="btn btn-primary" type="submit" (click)="addGame()">
          {{edContxt.isEditing?'Update':'Add'}}
          <i class="fa fa-angle-right"></i> </button>
        <button class="btn float-left" type="reset" (click)="showGameModel=false"><i class="fa fa-angle-left"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>
